.testimonial {
  width: 100%;
  background: #E3EAEF;
  background: #fff;
  margin-bottom: 100px;

  .slider {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    slider__wrapper {
      .title{
        width: 600px;
        margin-bottom: 30px;
      }
    }
  }
}
