@import "../../../assets/variables/colors";

.main__navbar {
  max-width: 100%;
  padding: 20px 0;
  min-width: 375px;

  .wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
      max-width: 190px;
      max-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .text {
        @media (max-width: 425px) {
          display: none;
        }
      }

      .icon {
        @media (max-width: 425px) {
          width: 40px;
          height: 40px;
        }
      }
    }

    .menu {
      width: 55%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media (max-width: 1050px) {
        width: 70%;
        justify-content: flex-end;
        column-gap: 20px;
      }
      @media (max-width: 825px) {
        display: none;
      }

      .title {
        font-size: 18px;
      }
    }

    .btn {
      @media (max-width: 1050px) {
        display: none;
      }

    }

    .hamburger {
      cursor: pointer;
      display: none;
      @media (max-width: 825px) {
        display: block;
      }
    }

    .sidebar {
      position: fixed;
      top: 145px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $navblue;
      display: flex;
      padding: 30px 20px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      row-gap: 25px;
      z-index: 2;
      @media (max-width: 400px) {
        row-gap: 15px;
      }

      .title {
        font-size: 24px;
        font-weight: 600;
      }
    }

  }

  .order {
    display: flex;
    position: fixed;
    right: 0;
    width: 70%;
    max-width: 777px;
    max-height: 100vh;
    height: 100vh;
    background-color: $lightblue;
    z-index: 3;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 425px) {
      justify-content: flex-start;
      align-items: center;
      padding: 50px 20px;
    }

    .exitBtn {
      cursor: pointer;
      position: fixed;
      top: 30px;
      right: 80px;
    }

    &__text {
      width: 80%;
      text-align: center;
      color: $light;
      margin-bottom: 70px;
      @media (max-width: 425px) {
        margin-bottom: 20px;
      }

      &-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 20px;
        @media (max-width: 425px) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }

      &-descr {
        margin: 0 auto;
        width: 65%;
        font-size: 16px;
        line-height: 25px;
        @media (max-width: 425px) {
          width: 85%;
          line-height: 20px;
        }
      }
    }

    &__form {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 35px;

      .input {
        width: 46%;
        max-width: 300px;
        border-radius: 10px;
        padding: 20px 12px;
        font-weight: 500;
        font-size: 15px;
        color: $black;
        border: none;
        text-transform: uppercase;
        @media (max-width: 768px) {
          width: 100%;
          max-width: 100%;
        }
      }

      .submit {
        cursor: pointer;
        width: 100%;
        max-width: 635px;
        background-color: $darkblue;
        color: $light;
        font-size: 18px;
      }
    }
  }
}