@import '../../../../assets/variables/colors';
.readmore{
  max-width: 165px;
  max-height: 45px;
  padding: 13px 26px;
  background-color: $darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  border-radius: 50px;
  span{
    color: $light;
  }
}