.doctors {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  overflow: hidden;

  .doctors__wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
  }

  .swiper-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    padding-left: 370px;
  }

  .swiper-slide {
    height: 500px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 350px !important;
  }

  .swiper {
    display: flex;
    width: 100%;

    .sliderSwaper {
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      gap: 35px;
    }

    .swiper-button-lock {
      display: block;
    }

    .swiper-pagination {
      display: none;
    }

    .swiper-button-next {
      position: absolute;
      top: 570px;
      left: 270px;
    }

    .swiper-button-prev {
      position: absolute;
      top: 570px;
      left: 225px;
    }
  }
}
