.faq {
  margin: 0 auto;
  max-width: 1218px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  @media (max-width: 430px) {
    max-width: 400px;
    margin: 0 auto;
  }
  .title {
    font-weight: 500;
    font-size: 65px;
    color: #303a42;
    margin-bottom: 30px;
  }
  .accordeons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
  }
  .firstacc {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    @media (max-width: 1156px) {
      padding: 50px 0;
    }
    @media (max-width: 570px) {
      width: 100%;
      padding: 50px 0px;
    }
    .MuiPaper-rootMui {
      border: 1px solid black;
    }
    .css-1qndlcl-MuiPaper-root-MuiAccordion-root {
      @media (max-width: 570px) {
        width: 100% !important;
        margin: 0;
      }
    }
  }
  .secondacc {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;


   @media (max-width: 1156px) {
      padding: 50px 0;
    }
    @media (max-width: 570px) {
      width: 100%;
      padding: 50px 0px;
    }
    .MuiPaper-rootMui {
      border: 1t \px solid black;
    }
    .css-1qndlcl-MuiPaper-root-MuiAccordion-root {
      @media (max-width: 570px) {
        width: 100% !important;
        margin: 0;
      }
    }
  }
}
