@import '../../../assets/variables/colors';

.header {
  position: relative;
  max-width: 100%;
  min-width: 375px;
  max-height: 900px;
  margin: 0 auto;

  .image {
    width: 100vw;
    max-height: 590px;
    object-fit: cover;
  }

  .main {
    position: absolute;
    width: 540px;
    text-align: left;
    .subtitle{
      font-size: 18px;
      color: $light;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
    }
    .title{
      font-family: 'Yeseva One', cursive;
      color: $light;
      font-size: 48px;
      margin-bottom: 32px;
    }
    .wrapper{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      gap: 30px;
      hr{
        width: 200px;
        border: 2px solid $light;
        border-radius: 5px;
      }
    }
  }

  .controllers {
    margin: 0 auto;
    max-width: 1380px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .controller {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      width: 290px;
      .circle {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 2px solid $light;
        .count {
          padding: 15px;
          font-size: 22px;
          color: $light;
        }
      }

      .title {
        width: 75%;
        margin: 5px 0 0 0px;
        .name{
          color: $light;
          font-weight: 600;
          line-height: 16px;
          margin-bottom: 10px;
        }
        .section{
          color: $darkblue;
          font-weight: 500;
        }
      }
    }
  }
}